body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
 #song-list {
   margin-left: auto;
   margin-right: auto;
   margin-top: 10px;
   margin-bottom: 10px;
 }

 #time-control, #volume-control {
   width: 30vw;
   max-width: 230px;
   margin: auto;
 }

.mdl-layout__header {
  margin-bottom: 30px;
}

.mdl-card {
  margin-left: 15px;
  display: inline-grid;
}

.demo-card-image.mdl-card, #album-cover-art{
  width: 256px;
  height: 256px;
}

.demo-card-image > .mdl-card__actions {
  height: 52px;
  padding: 16px;
  background: rgba(0, 0, 0, 0.2);
}
.demo-card-image__filename {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
}

.demo-card-image > .mdl-card__title {
  color: #fff;
  font-weight: bolder;
}
